# VITE_MAPBOX_KEY=YOUR_MAPBOX_TOKEN_HERE
# VITE_GOOGLE_MAPS_KEY=AIzaSyAr5mRB4U1KRkVznIrDWEvZjroYcD202DI
# VITE_GOOGLE_MAPS_DEV_KEY=AIzaSyCL-BY8-sq12m0S9H-S_yMqDmcun3A9znw

VITE_DOMAIN=vista.test
VITE_SECURE=true
VITE_API_URL=https://vistamora.test
VITE_WS_URL=wss://vistamora.test
VITE_API_KEY=your_secure_secret_key
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
